/node/bower_components/
/node/node_modules/
/node/.pulp-cache/
/node/output/
/node/generated-docs/
/node/.psc-package/
/node/.psc*
/node/.purs*
/node/.psa*
/node/data/*
/node/static/main.js
/node/static/main.min.js
/node/test.log
*nohup.out
